#myCarousel {
  position: relative;
  z-index: 1000;
  height: 60vh;
  margin-bottom: 100px;
  @media (max-width: $screen-md-max) {
    height: 40vh;
  }
  .item {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: $screen-md-max) {
      height: 40vh;
    }
  }
}

.home-top-text {
  margin: 50px 0 100px 0;
  a {
    color: $red;
  }
}

.parallax {
  position: relative;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media (max-width: $screen-md-max) {
    height: 40vh;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #111;
    opacity: 0.3;
  }
  .home-central-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
      width: 100%;
    }
    strong {
      font-size: 2rem;
      color: white;
    }
  }
}

.home-bottom-text {
  margin: 100px 0;
  column-count: 2;
  column-gap: 30px;
  @media (max-width: $screen-xs-max) {
    column-count: 1;
  }
}

.new-products {
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  @media (max-width: $screen-xs-max) {
    flex-wrap: wrap;
  }
  .new-product {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    flex-basis: 25%;
    max-width: 25%;
    transition: all .3s ease;
    margin-right: 5px;
    @media (max-width: $screen-xs-max) {
      flex-basis: 70%;
      max-width: 70%;
      margin-top: 25px;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 13px 14px -6px rgba(153, 153, 153, .75);
      cursor: pointer;
    }
    .new-product-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: #fff;
      margin: 0;
      padding: 10px 0;
      color: $red;
    }
    .home-size {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .home-price {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      background-color: #111;
      border-radius: 0 0 0 5px;
      padding: 5px;
    }
  }
}